:root {
  --dark: #1C1C1C;
  --alert: #8B0000;
  --light: #FFFFFF;
  --cancel: #BB001D;
  --sucess: #049301;
  --color-primary: #2A2A2A;
  --color-secondary: #460075;
  --color-background: #FABF16;

}


*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
		padding: 0;
}

html, body{
	-webkit-text-size-adjust: 100%;
	background-color: var(--color-primary);
	font-family: 'Outfit', sans-serif;
	font-size: 16px;
	height: 100%;
}

li, ul{
	list-style: none;
	text-decoration: none;
}

a{
	text-decoration: none;
	margin: none;
}

img{
	max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

input{
	padding: 1% 2%;
	border: solid 1px;
	margin: 0 2%;
}

form{
	margin: 0;
	padding: 0;
}


footer{
	position: relative;
	background-color: var(--color-background);
	height: 2.5em;
	bottom: 0 !important;
	padding: 1% 5%;
	display: flex;
	z-index: 10;
}

textarea {
  resize: none;
}


/*AUXILIARES*/


.d-flex{
	display: flex;
}

.justify-content-end{
	justify-content: end;
}

.justify-content-around{
	justify-content: space-around;
}

.justify-content-between{
	justify-content: space-between;
}

.justify-content-center{
	justify-content: center;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}

.fixed{
	position: fixed;
}

.flex-wrap{
	flex-wrap: wrap;
}

.w-100{
	width: 100%;
	max-width: 100%;
}

.w-50{
	width: 50%;
}

/* COLUNAS */

.col-50{
	width: 50%;
}
.col-33{
	width: 33.3333%;
}
.row{
	display: flex;
  flex-wrap: wrap;
}

/* MARGIN E PADDING */

.my-2{
	margin: 2% auto;
}

.my-auto{
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mx-1{
	margin: auto 1% ;
}

.mx-2{
	margin: auto 2% ;
}

.mx-auto{
	margin-right: auto !important;
	margin-left: auto !important;
}

.mt-2{
	margin-top: 2%;
}
.mt-5{
	margin-top: 5%;
}

.pt-2{
	padding-top: 2%;
}

/*COLOR*/

.light{
	color: var(--light);
}

.alert{
	color: var(--alert);
}

.btn{
	padding: 1% 4%;
	border: 1px solid;
	border-radius: 0.3rem;
	font-size: 1rem;
	margin: 1%
}

.btn:hover {
	filter: brightness(90%);
}

.btn-light {
	background-color: var(--light);
}
.btn-cancel{
	background-color: var(--cancel);
}
.btn-sucess{
	background-color: var(--sucess);
}

.btn-border-primary {
	border: 2px solid var(--color-primary);
	color: var(--color-primary);
	background-color: var(--light);
}

.btn-border-primary:hover {
	border: 2px solid var(--color-primary);
	color: var(--light);
	background-color: var(--color-primary);
}
.icon{
	color: var(--light);
	font-size: 1.6rem;
}

/*NAVBAR*/

.navbar{
	background-color: var(--light);
	display: flex;
	position: relative;
	z-index: 10;
}

.navbar img{
	max-width: 75px;
	width: 100%;
}


.navbar-list{
	margin:  auto;
	width: 100%;
}

.navbar-item{
	padding: 0 3%;
	font-weight: 600;
}

/* MAIN */

#main{
	background-color: var(--light);
	border-radius: 15px;
}


/*BORDER E ESTILOS*/

.border{
	border: 1px solid;
}

.border-black{
	border-color: var(--black);
}

.border-alert{
	border-color: var(--alert);
}
.rounded{
	border-radius: 5px
}
.navbar a{
	color: var(--color-secondary);
}

.navbar a:hover, .select{
	color: var(--color-background) !important;
}



